<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um encurtador de Links/Url simples e direto ao ponto, você pode encurtar seus links e também dar um nome a eles.">
    <meta name="Keywords" content="encurtar-url, encurtar-Links, dar-nome-a-links, gerar-url, gerar-link, gerar-url-com-nome, gerar-link-com-nome, gerador-de-url, gerador-de-link, linkcut, link-cut">
    <meta http-equiv="author" content="Paulo Ribas">
    <title>Encurtar Url</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favIcone.png" type="image/x-icon">
    <link rel="canonical" href="https://linkcut.com.br"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8049093567880114" crossorigin="anonymous"></script>
</head>
<body>
    <header> 
        <nav>
            <ul>
                <li class="activate"><a href="/">Gerar Url Padrão</a></li>
                <li><a href="/Urladvanced">Gerar Url Avançada</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Encurte qualquer URL <br> que você quiser</h1>
        <h2>Encurtar Seu Link <small>em outras palavras</small></h2>
        <h3>ou você pode dar um nome para seu link também</h3>
        <% if(erro) { %>
            <p class="error"> <%=erro %></p>
        <%} %>
        <div class="container-form">
            <form action="/lr" method="post" id="form-1" autocomplete="off">
                <input type="url" name="Url" id="url" placeholder="Sua URL" required>
                <input type="submit" value="Gerar URL">
            </form>
            <form action="/ln" method="post" id="form-2" class="hidden" autocomplete="off">
                <input type="text" name="Nome" id="apelido" placeholder="De Um Nome Para Seu Link/URL" required>
                <input type="url" name="Url" id="url" placeholder="Sua URL" required>
                <input type="submit" value="Gerar URL">
            </form>
            <i class="fas fa-arrow-right" title="gerar um link com nome"></i>
        </div>   
    </main>
    <section class="video-aula">
        <h4>Como Usar</h4>
        <p>aqui tem um pequeno video ensinando como usar a interface, nessa pagina você gera qualquer URL aleatória e também pode gerar uma com um nome escolhido para você, aqui é gerado um link e nome sempre diferente caso sua URL seja Nova, caso seu objetivo seja trollar seus amigos, recomendamos <a href="/Urladvanced">Gerar Url Avançada</a>, caso seus amigos já terem decorado a Url gerada nessa pagina, porém, o nome é unico ou seja, você não poderá escolher um nome que outra pessoa já tenha escolhido, o que pode ser bom ou ruim dependendo da situação. </p>
        <div class="video-container">
            <video src="./video/video_pc.mp4" id="video"></video>
        </div>
    </section>
    <footer>
        2021 © Linkcut - Encurtador de Link/Url - Paulo Ribas.
    </footer>

    <script src="./scripts/simpleScript.js"></script> 
    <script src="./scripts/video.js"></script>
</body>
</html>