<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encurte e personalize URLs longos com o LinkCut. Fácil, rápido e gratuito!">
    <meta http-equiv="author" content="Paulo Ribas">
    <meta name="robots" content="index, follow">
    <title>Encurtador de URL | LinkCut</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favIcone.png" type="image/x-icon">
    <link rel="canonical" href="https://linkcut.fun/">
    <!--og urls-->
    <meta property="og:title" content="Encurtador de URL">
    <meta property="og:description" content="Encurte e personalize URLs longos com o LinkCut. Fácil, rápido e gratuito!">
    <meta property="og:image" content="https://linkcut.fun/img/favIcone.png">
    <meta property="og:url" content="https://linkcut.fun">
    <!--twitter-->
    <meta name="twitter:title" content="Encurtador de URL Gratuito | LinkCut">
    <meta name="twitter:description" content="Encurte e personalize URLs longos com o LinkCut. Fácil, rápido e gratuito! ">
    <meta name="twitter:image" content="https://linkcut.fun/img/favIcone.png">  

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Encurtador de URL Gratuito",
            "description": "Encurte e personalize URLs longos com o LinkCut. Fácil, rápido e gratuito!",
            "url": "https://linkcut.fun",
            "publisher": {
              "@type": "Organization",
              "name": "LinkCut",
              "logo": "https://linkcut.fun"
            },
            "mainEntity": {
              "@type": "SoftwareApplication",
              "name": "LinkCut",
              "description": "Encurte e personalize URLs longos com o LinkCut. Fácil, rápido e gratuito!",
              "applicationCategory": "Web Tools",
              "operatingSystem": "All",
              "price": "Free"
            }
        }
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8049093567880114" crossorigin="anonymous"></script>
</head>
<body>
    <header> 
        <nav>
            <ul>
                <li class="activate"><a href="/">Gerar Url Padrão</a></li>
                <li><a href="/Urladvanced">Gerar Url Avançada</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Encurte qualquer URL <br> que você quiser</h1>
        <h2>Encurtar Seu Link <small>em outras palavras</small></h2>
        <h3>ou você pode dar um nome para seu link também</h3>
        <% if(erro) { %>
            <p class="error"> <%=erro %></p>
        <%} %>
        <div class="container-form">
            <form action="/lr" method="post" id="form-1" autocomplete="off">
                <input type="url" name="Url" id="url" placeholder="Sua URL" required>
                <input type="submit" value="Gerar URL">
            </form>
            <form action="/ln" method="post" id="form-2" class="hidden" autocomplete="off">
                <input type="text" name="Nome" id="apelido" placeholder="De Um Nome Para Seu Link/URL" required>
                <input type="url" name="Url" id="url" placeholder="Sua URL" required>
                <input type="submit" value="Gerar URL">
            </form>
            <i class="fas fa-arrow-right" title="gerar um link com nome"></i>
        </div>   
    </main>
    <footer>
        2024 © Linkcut - Encurtador de Link/Url - Paulo Ribas.
    </footer>

    <script src="./scripts/simpleScript.js"></script> 
    <script src="./scripts/video.js"></script>
</body>
</html>